/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  /* background: url(../img/background1.jpg) no-repeat 50% 50%; */
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a,
a:focus,
a:hover{
  color: #fff;
}

.container{
  /* background-color: rebeccapurple; */
  height: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center
}


#navbarNav{
  /* background-color: greenyellow; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
#navbarNav ul li{
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  border-bottom: .25rem solid transparent
}
#navbarNav ul li:hover,
#navbarNav ul li:focus{
  border-bottom-color: rgba(236, 221, 11, 0.6);
}


#navbarNav ul li.active a{
  color: rgba(236, 221, 11, 0.6);
}

#navbarNav ul li.active{
  border-bottom-color: rgba(236, 221, 11, 0.6);
}


.navbar-brand{
  /* background-color: hotpink; */
  font-size: 30px;
  font-weight: bolder;
}


#columnTromb .col-sm{
  background-color: aqua;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row-section{
  padding-bottom: 10px;
}

#accueil{
  height: 100%;
  background-color: wheat;
}

#trombinoscope{
  margin: 10px;
}

.avatar-img{
  position: relative;
  padding: 10px;
}

.avatar {
  /* position: absolute; */
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
}

.avatar-img .flag{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.col-sm p{
  margin: 0;
}

.avatar-text{
  padding: 10px;
  font-weight: bold;
}

.nom-text{
  font-size: 14pt;
  color: #000000;
}

.nom-pos{
  font-size: 12pt;
  color: rgba(0, 0, 0,0.7) 
}

